@import "../../styles/styles.scss";

.hero {
  background-color: $background-primary;
  padding-top: 4rem;
  height: 864px;
}

.hero-content h1 {
  color: $text-primary;
  font-family: $font-primary;
  line-height: 1.2;
  text-wrap: nowrap;
  font-size: clamp(3.5rem, 4vw + 2rem, 6rem);

  span {
    color: $accent-color;
  }
}

.hero-content > div {
  margin-top: 2.8rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    min-width: 350px;
    flex: 1;
  }

  p {
    font-size: 1.2rem;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 1260px) {
  .hero {
    height: min-content;
  }

  .hero-content > div > img {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .hero-content > div {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .hero-content > div > div {
    min-width: 100%;
    margin-bottom: 1.4rem;
  }

  .hero-content > div > img {
    width: 100%;
  }
}
