$background-primary: #171717;
$background-secondary: #1d1d1d;

$accent-color: #fd665e;
// $accent-color-secondary: #ff5331;
// $lighter-accent-color: #f2ebda;

$text-primary: #e9e9e9;
$text-secondary: #71757f;
$text-on-accent: #fff;
